/*html, body {
    height:100%;
}*/


a {
    color: white;
    text-decoration: none;
}

    a:hover {
        color: darkorange;
        font-weight: bold;
        opacity: 0.7;
    }

p {
    color: darkgoldenrod;
}

h2 {
    font-family:Jokerman;
    font-size: 26px;
    color:chartreuse;
}

.container {
    width: 100%;
}

#MainDiv {
    /*width:500px;*/
    /* height: 100%;*/
    height: 500px;
    background-color: aqua;
}

#Line1, #Line3 {
    background-color: black;
    height: 25%;
    text-align: center;
    align-content: center;
}

#Line3 {
    color: aqua;
}

#Line3Left, #Line3Right {
    display: inline-block;
}

#Line3Left {
    text-align: left;
    float: left;
    width: 50%;
}

#Line3Right {
    text-align: right;
    float: right;
    width: 50%;
}

#Line2 {
    background-color: lightgreen;
    height: 75%;
}

.Line2 {
    display: inline-block;
    height: 100%;
}

#Line2Left {
    float: left;
    width: 33%;
    background-color: #a2c9FF;
    align-content: center;
    text-align: center;
}

#Line2Right {
    background-color: #111111;
    width: 67%;
    overflow-y: auto;
    color:#fff;
}

#Line2Line1, #Line2Line2, #Line2Line3 {
    height: 33.333%;
    align-content: center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}

#horizantalMenuItem1, #horizantalMenuItem2, #horizantalMenuItem3 {
    /* height: 33.333%;*/
    align-content: center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}

#Line2Line1, #horizantalMenuItem1 {
    background-color: #25DD39;
}

#Line2Line2, #horizantalMenuItem2 {
    background-color: #fa3599;
}

#Line2Line3, #horizantalMenuItem3 {
    background-color: #514787;
}

.divText {
    margin: 0px 10px 0px 10px;
    color: white;
}

.socialmediaicon {
    height: 32px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.horizantalMenu {
    width: 100%;
}

.horizantalMenuItem {
    display: inline-flex;
    float: left;
    width: 33.333%;
}



/*#region ProductTable*/
.ProductTable {
    width: 90%;
    margin-left: 5%;
/*    border: solid;
    border-width: 1px;
    border-color: #fff;*/
    padding-left: 5px;
}

.firstTD {
    width: 15%;
    padding: 5px;
    align-content: center;
    text-align: center;
}

.secondTD {
    width: 15%;
    font-weight: 800;
    padding-left: 10px;
}

.seperatorTD {
    width: 2%;
    font-weight: 800;
}

.thirdTD {
    width: 68%;
}

.productIMG {
    width: 100%;
    min-width:75px;
}


/*#endregion*/

/*#region Contact*/

#MainContactDiv {
    width:70%;
    height:70%;
}

#ContactLeftDiv {
    display: inline-block;
    float: left;
    width: 60%;
    height: 100%;

}

#ContactLeftDiv * {
        margin-bottom: 25px;
        margin-left:25px;
    }

#ContactRightDiv {
    display: inline-block;
    float: right;
    width: 40%;
    height: 100%;
}

#locationIMG {
    width: 100%;
}

/*#endregion Contact*/
